@using OnyraProjet.Services

@page "/connexion"
@inject ConnexionService connexionservice

<PageTitle>Connexion</PageTitle>
<form>
    <h3><strong>Connexion</strong></h3>
    <div class="mb-3">
        <label class="form-label">Addresse courriel</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Onyra@gmail.com">
    </div>
    <div class="mb-3">
        <label class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
    <div class="mb-3">
        <a href="Inscription">Êtes-vous membre ?</a>
    </div>
</form>
