@page "/donnees"
@using OnyraProjet.Models
@using OnyraProjet.Services
@using OnyraProjet.Authentication
@using Microsoft.AspNetCore.Components.Authorization

@inject DonneesService donneesService
@inject CustomAuthentificationStateProvider authProvider

<PageTitle>Données</PageTitle>

<h3>Données</h3>

@if (donnees == null)
{
    <p>Chargement des données...</p>
}
else if (!donnees.Any())
{
    <p>Aucune donnée disponible.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Valeur Lumière</th>
                <th>Valeur Son</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in donnees)
            {
                <tr>
                    <td>@d.ValLumiere</td>
                    <td>@d.ValSon</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<OnyraProjet.Models.Donnees> donnees;


    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();
        var userIdClaim = authState.User.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.NameIdentifier);
        int noUtilisateur = int.Parse(userIdClaim.Value);

        // Récupérer uniquement les données de cet utilisateur
        donnees = await donneesService.GetDonneesByUtilisateurAsync(noUtilisateur);
    }
}
